.godot/
*.translation
*.tmp
*.log
.import/
export/*.debug
export/linux/*.x86_64
export/linux/*.pck
export/linux/shadowfetch-skeeball
build/
*~
.DS_Store
*.os
*.dblite
*.uid
godot
tools/godot*
/tmp/
docs/screenshots/*.import
